#tabs{
  display: flex;
  margin: 10vh, 10vw, 0, 10vw;
}

#items{
  display: flex;
  margin: 10vh, 10vw, 0, 10vw;
  padding-top: 80px;
  border: 1px solid #aaa;

}

.weekday{
  flex-grow: 1;
  width: auto;
  border: 1px solid black;
  text-align: center;
}


#image, .todo{
  flex-grow: 1;
  width: auto;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
  max-width: 50%;
}

h2{
  margin-top: 30px;
  padding-bottom: 0;
  font-size: 150%
  display: none;
}

#mondaytodo, #tuesdaytodo, #wednesdaytodo, #thursdaytodo, #fridaytodo, #saturdaytodo{
  display: none;
}

.active{
  background-color: pink;

}

img{
  width: 80%;
  max-height: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
  object-position: 20% 10%;
}

#image, .todo_list{
    padding-top: 80px;
}





/* #header{
  font-size: 90px;
  text-align: center;
}

#tabs {
  display: flex;
  margin: 25vh 10vw 0 10vw;
}

#items {
  display: flex;
  margin: 0vh 10vw 0 10vw;
  padding-top: 80px;
  border: 1px solid #aaa;
  border-top: none;
}

.meal {
  flex-grow: 1;
  width: auto;
  border: 1px solid #aaa;
  background-color: #eaecef;
}

#image, .menu {
  flex-grow: 1;
  width: auto;
  max-width: 50%
}

h2 {
  padding-bottom: 0;
  margin-top: 30px;
  font-size: 1.8em;
  margin-left: 30px;
}

#dinnermenu, #lunchmenu {
  display: none;
}

.active {
  border-bottom: none;
  background-color: white;
}

img {
  width: 80%;
  max-height: 80%;
  object-fit: cover;
  display: block;
  margin: auto;
  object-position: 20% 10%;
} */
