#top h1 {
  text-align: center;
  font-size: 15vw;
  color: #0D1F2D;
  font-family: "Big Shoulders Display";
  font-weight: 800;
  margin-bottom: 0px;
  margin-top: 4px;
}

#solid {
  border: solid #FAE1DF 4px;
}

body {
  background-color: ivory;
}

#top p {
  text-align: center;
  color: #0D1F2D;
  font-family: "Big Shoulders Display";
}

#top img {
  width: 40vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px #FAE1DF;
  border-style: double;
  padding: 10px;
}

#under_pic {
  text-align: center;
  font-size: 17px;
  color: #0D1F2D;
  font-family: "Big Shoulders Display";
  padding-top: -5px;
  padding-bottom: -5px;
}

#weblinks {
  text-align: center;
  color: #FAE1DF;
  font-family: "Big Shoulders Display";
  padding: -1px;
}

#goals {
  color: #0D1F2D;
  font-family: "Big Shoulders Display";
  text-align: center;
  padding: 20px;
  margin-right: 300px;
  margin-top: 30px;
  margin-left: -20px;
  margin-bottom: 30px;
  border: solid #FAE1DF 10px
}

#abtme {
  color: #0D1F2D;
  font-family: "Big Shoulders Display";
  text-align: center;
  padding: 20px;
  margin-left: 300px;
  margin-top: 10px;
  margin-right: -20px;
  margin-bottom: 30px;
  border: solid #FAE1DF 10px
}

#pattern_lib {
  color: #0D1F2D;
  font-family: "Big Shoulders Display";
  text-align: center;
  font-size: 3vw;
}

#header1 {
  font-size: 96px;
  margin: auto;
  font-family: "Big Shoulders Display";
  text-align: center;
}

#header2 {
  font-size: 64px;
  margin: auto;
  font-family: "Big Shoulders Display";
  text-align: center;
}

#header3 {
  font-size: 48px;
  margin: auto;
  font-family: "Big Shoulders Display";
  text-align: center;
}

#header4 {
  font-size: 36px;
  margin: auto;
  font-family: "Big Shoulders Display";
  text-align: center;
}

#header5 {
  font-size: 24px;
  margin: auto;
  font-family: "Big Shoulders Display";
  text-align: center;
}

#header6 {
  font-size: 18px;
  margin: auto;
  font-family: "Big Shoulders Display";
  text-align: center;
}

#hr3 {
  border: solid #FAE1DF 4px;
  margin-top: 30px;
}

#hr2 {
  border: solid #FAE1DF 2px;
  margin-top: 30px;
}

#hr1 {
  border-color: #FAE1DF;
  border-style: double;
  margin-top: 30px;
}

#palette {
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 20px #FAE1DF;
  border-style: double;
}

a:link {
  color: #0D1F2D;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #FAE1DF;
  background-color: transparent;
  text-decoration: underline;
  font-size: 40px;
}

a:visited {
  color: #546A7B;
  background-color: purple;
  text-decoration: underline;
  font-size: 20px;
}

a:active {
  color: #FAE1DF;
  background-color: transparent;
  text-decoration: underline;
  font-size: 20px;
}
