#top h1{
  text-align: center;
  font-size: 15vw;
  color: #0D1F2D;
  font-family: "Big Shoulders Display";
  font-weight: 800;
  margin-bottom: 0px;
  margin-top: 4px;
}

body{
  background-color: ivory;
}

#top p{
  text-align: center;
  color: #0D1F2D;
  font-family: "Big Shoulders Text";
}

#top img{
  width: 40vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px #FAE1DF;
  border-style: double;
  padding: 10px;

}

#under_pic{
  text-align: center;
  font-size: 17px;
  color: #0D1F2D;
  font-family: "Big Shoulders Display";
  padding-top: -5px;
  padding-bottom: -5px;

}

#weblinks{
  text-align: center;
  color: #FAE1DF;
  font-family: "Big Shoulders Text";
  padding: -1px;

}

#goals{
  color: #0D1F2D;
  font-family: "Big Shoulders Text";
  text-align: center;
  padding: 20px;
  margin-right: 300px;
  margin-top: 30px;
  margin-left: -20px;
  margin-bottom: 30px;
  border: solid #FAE1DF 10px
}

#abtme{
  color: #0D1F2D;
  font-family: "Big Shoulders Text";
  text-align: center;
  padding: 20px;
  margin-left: 300px;
  margin-top: 10px;
  margin-right: -20px;
  margin-bottom: 30px;
  border: solid #FAE1DF 10px
}

#pattern_lib{
  color: #0D1F2D;
  font-family: "Big Shoulders Text";
  text-align: center;
  font-size: 3vw;
}


a:link{
  color: #0D1F2D;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
}

a:hover{
  color: #FAE1DF;
  background-color: transparent;
  text-decoration: underline;
  font-size: 40px;
}

a:visited{
  color: #546A7B;
  background-color: purple;
  text-decoration: underline;
  font-size: 20px;
}

a:active{
  color: #FAE1DF;
  background-color: transparent;
  text-decoration: underline;
  font-size: 20px;
}
