canvas {
  display: block;
}

#sketchbutton {
  background-color: green;
}

/* FIRST BAR - logo and nav*/
#logo_nav {
  display: flex;
  height: 80px;
  margin-left: 115px;
  margin-right: 60px;
  margin-top: 25px;
}

/* h3 {
  font-family: Readex Pro;
} */
#logo {
  /* background-color: red; */
  flex-grow: .25;
}

#personal_logo {
  display: block;
  width: 280px;
  /* margin-left: 10px; */
}

#navigation {
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* margin: 30px 0px 30px 0px; */
  display: inline;
  padding-top: 25px;
  padding-left: 110px;
  /* background-color: orange; */
  flex-grow: 5;
  font-family: Readex Pro;
  font-weight: bolder;
  font-size: 25px;
  text-shadow: 3px 2px #FFCE34;
  text-decoration: none;
}

nav a {
  margin-left: 250px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  /* font-size: 30px; */
  text-decoration: underline;
  text-decoration-color: #FFCE34;
  text-decoration-style: double;
  text-shadow: none;
}

nav .current {
  font-family: Readex Pro;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 3px 2px #FFCE34;
  text-decoration: none;
}

/* SECOND BAR - side nav, about me, image */
#home {
  display: flex;
  /* width: 500px; */
  /* height: 600px; */
  margin-left: 30px;
  margin-right: 60px;
  margin-top: 40px;
  /* box-shadow: 12px 12px 2px 1px rgba(93, 93, 93, .8); */
}

#works_nav {
  /* background-color: rgba(250, 255, 255, 0.9); */
  /* width: 100px; */
  flex-grow: 1;
}

.list {
  margin-left: 20px;
  font-family: Readex Pro;
  list-style: none;
}

#abtme {
  background-color: rgba(236, 236, 236, .9);
  /* width: 150px; */
  /* flex-grow: 2; */
  position: relative;
  box-shadow: 12px 12px 8px 1px rgba(93, 93, 93, .4);
  /* min-height: 400px; */
}

.abt_me_header {
  font-size: 60px;
  margin-top: 250px;
  margin-left: 30px;
  margin-right: 230px;
  font-family: Readex Pro;
  font-weight: 800;
  text-decoration: underline solid rgb(255, 206, 68) 25px;
  text-underline-offset: -10px;
}

.description {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Readex Pro;
  font-weight: 400;
}

#text_overlay {
  /* float: right; */
  margin-top: 200px;
  margin-left: 50px;
  background: purple;
}

#profileimg {
  width: 400px;
  flex-grow: .8;
}

#headshot {
  /* flex-grow: 1; */
  /* width: 500px; */
  /* max-width: 70%; */
  height: 700px;
  width: auto;
  box-shadow: 12px 12px 8px 1px rgba(93, 93, 93, .4);
  /* float: right; */
}

/* CONTACT PAGE */
#contact_home {
  display: flex;
  /* width: 500px; */
  height: 750px;
  margin-left: 30px;
  margin-right: 60px;
  margin-top: 40px;
}

#contact_page {
  background-color: rgba(236, 236, 236, .9);
  flex-grow: 3.5;
  box-shadow: 12px 12px 8px 1px rgba(93, 93, 93, .4);

}

.contact_header{
  font-size: 60px;
  margin-top: 25px;
  font-family: Readex Pro;
  font-weight: 800;
  text-decoration: underline solid rgb(255, 206, 68) 25px;
  text-underline-offset: -10px;
  text-align: center;
}

form {
  text-align: center;
  font-family: Readex Pro;
  font-size: 35px;
  font-weight: 600;
  margin-top: 10px;
}

#name {
  margin-bottom: 15px;
  width: 600px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

#email {
  margin-bottom: 15px;
  width: 600px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

#message {
  margin-bottom: 15px;
  width: 600px;
  height: 200px;
  font-size: 20px;
}

.submit {
  font-size: 30px;
  font-family: Readex Pro;
  font-weight: 600;
  background-color: rgb(255, 206, 68);
  border: none;
  padding: 10px;
}

button{
  font-size: 20px;
  margin-left: 100px;
  font-family: Readex Pro;
  font-weight: 600;
  background-color: rgb(255, 206, 68);
  border: none;
  padding: 10px;
  text-align: center;
}
